<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226556567092-slpbrijghq42bhk0687172ku367os3v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226556567092-slpbrijghq42bhk0687172ku367os3v1</string>
	<key>API_KEY</key>
	<string>AIzaSyC7mvwd62DGIuRLKAgl_HmlZD8rxvCBf_w</string>
	<key>GCM_SENDER_ID</key>
	<string>226556567092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BR.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-68b8a</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-68b8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226556567092:ios:cb3057a1b9a6129504b461</string>
</dict>
</plist>